<table bgcolor='lightgray' width='100%'> <tr>
    <td width='20%' align='left'>
        <a href="/"><img src="/images/logo.jpg" width="70" height="40"> 
</a></td> 
     <td width='60%' align='center'><h1>LockerFoot</h1></td>
     <td width='10%' align='center'>Login Control</td>
     <td width='10%' align='center'>Cart Control</td>
</tr></table>
<p> SEARCH CONTROL </p>
<ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
</ul>
    